body{
	padding-top: 20px;
	padding-bottom: 40px;
}
.brand{
	color: #E74C3C;		
}

.brand-subtext{
	padding-left: 10px;
}

.container-narrow{
	margin: 0 auto;
	max-width: 700px;
}

.nav li a{
	color: #3498DB;
	text-decoration: none;
}

.recent-posts{
	background-color: #2C3E50;
	border-radius: 8px;
	position: relative;
	padding: 20px;
}

.recent-posts:before{
	content: "";
border-style: solid;
border-width: 12px 12px 12px 0;
border-color: transparent #2C3E50 transparent transparent;
height: 0px;
position: absolute;
left: -12px;
top: 35px;
width: 0;
-webkit-transform: rotate(360deg);
}

.recent-post-date{
	color: #7F8C8D;
	font-size: 10px;
	font-style: italic;
}

.recent-posts-img{
	height: 100px;
	width: 100px;	
	display: block;
	text-align: right;
}

.post-list{
	list-style-type: none;	
	margin: 0;
	padding: 0;
	border-radius: 0 8px 8px 0;	
}

.post-link{
	padding: 10px 24px 10px 10px;	
	display: block;	
	color: white;
	text-decoration: none;
}

.post-link:hover{
	border-radius: 6px;
	background-color: #1ABC9C;
	color: white;
}