@font-face {
    font-family: 'questrialregular';
    src: url('../fonts/questrial-regular-webfont.eot');
    src: url('../fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/questrial-regular-webfont.woff') format('woff'),
         url('../fonts/questrial-regular-webfont.ttf') format('truetype'),
         url('../fonts/questrial-regular-webfont.svg#questrialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*variables*/
$tan: #fff6e5;
$grey: #3e454c;
$darker-grey: #31373c;
$aqua-ish: #7ecefd;
$blue: #2185c5;
$orangey: #ff7f66;
$btn-text: #f2e9ce;
$light-grey: rgb(117, 125, 133);

@mixin rounded-corners{
	border-radius: 5px;
}

@mixin flat-button($background, $text){
	@include rounded-corners;
	background-color:$background;
	color: $text;
	padding: 13px 24px 10px;
}

@mixin dark-text-shadow{
	text-shadow: 0px 1px 1px rgba(0,0,0, .2);
}
@mixin dark-box-shadow{
	box-shadow: 0px 1px 2px rgba(0,0,0,.3);
}

@mixin dark-inset-shadow{
	box-shadow: inset 0px 1px 2px rgba(0,0,0,.3);
}

@mixin pill-box-shadow{
	box-shadow: 0px 1px 1px rgba(255,255,255,.2),inset 0px 1px 2px rgba(0,0,0,.3);
}

@mixin light-text-shadow{
	text-shadow: 0px 1px 1px rgba(255,255,255,.2);
}

@mixin gradient-overlay($opacity:.04){
background-image: -webkit-linear-gradient(top, rgba(255,255,255,$opacity), rgba(0,0,0,$opacity));
}

*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}


body{
	background-color: $grey;	
	font-family: "questrialregular";
}

header{
	color: #fff;
	background-color: $aqua-ish;
	@include gradient-overlay;
	padding: 5px 0;	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
	position: fixed;
	width: 100%
}

header small{
	font-size: .65rem;
	@include dark-text-shadow;
	opacity: .25;
	position: relative;
	top: -7px;
	left: 7px;
}

nav {
	float: right;
}

nav a{
	color: #fff;
	opacity: .85;
	line-height: 35px;
	font-weight: 700;
	padding:5px 10px;
	@include dark-text-shadow;
	margin-left: 10px;
}

nav a:hover{
	opacity:1;
	text-decoration:none;
}

nav .active{
	color: $darker-grey;
	@include light-text-shadow;
	@include pill-box-shadow;
	border: 1px solid #1a6ca0;
	border-radius: 3px;
	background-color: $blue;
}

header img {
	float: left;	
}

header .container{
	overflow: hidden;
}

a{
	color: $orangey;
	text-decoration: none;
}

a:hover{	
	text-decoration: underline;
}

ul, ol{
	list-style-type: none;
	margin: 0;
	padding: 0 0 20px 40px;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	margin: 20px 0;
	padding:0;
	line-height: 1;
}
h1{
	font-size: 5rem;
	margin-top: 0;
}

blockquote{
	padding: 10px;
	@include rounded-corners;
	background-color: rgba(163, 151, 128, 0.8);
	/*todo mixin*/
	box-shadow: inset 0 2px 2px rgba(0,0,0,.15), inset 0 0 1px rgba(0,0,0,.1);
	color: #fff6e5;
	@include dark-text-shadow;	
	margin-bottom: 20px;
}

blockquote p{
	margin: 0;
}

footer{
	color: $light-grey;
	@include dark-text-shadow;
	@include dark-inset-shadow;	
	padding: 20px 0;
}

footer a:hover{
	text-decoration:none;
}

.footer-logo{
	text-align: center;
	opacity: .3;
	display: block;
	margin:0 auto;
	width: 40px;
}

.brand{
	margin: 0;
	font-size: 2rem;
}

.post-title{
	margin-bottom: 40px;
}


.btn{
	@include flat-button($aqua-ish, $btn-text);
}

.btn:hover{
	opacity: .7;
}

.container{
	max-width: 700px;
	padding: 0 40px;
	margin: 0 auto;
}

.main{
	padding: 65px 0px;
	background-color: $tan;
	color: $grey;
	@include dark-inset-shadow;

}
p{
	margin: 0px 0px 20px 0;
	line-height: 1.5rem;
}
li{
	line-height: 1.5rem;
}

.other-posts{
	padding: 20px 0;
	background-color: #3e454c;
	@include rounded-corners;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.15), inset 0 0 1px rgba(0,0,0,.1);
	@include dark-text-shadow;
}

.other-posts li{
	line-height: 2rem;
	padding: 0 20px;
}

.recent-post{
	display: block;
}

.recent-post:hover{
	text-decoration: none;
}

.post-nav{		
	@include dark-box-shadow;
	text-align: center;	
}

.post-nav a{
	color: inhert;
	font-size: 3rem;
	@include dark-text-shadow;
	padding: 0 40px;
	opacity: .7;
}

.post-nav a:hover{
	text-decoration: none;
	opacity: 1;
}