body{
	padding-top: 20px;
	
}

.masthead{
	margin-bottom: 30px;
}

.brand{
	color: #E74C3C;		
}

.brand-subtext{
	padding-left: 10px;
}

.container-narrow{
	margin: 0 auto;
	max-width: 700px;
}

.nav li a{
	color: #3498DB;
	text-decoration: none;
}

.row-fluid{
	padding: 30px 0;
}

.block-list-container{
border-radius: 8px;
	position: relative;
	padding: 20px;
}

.block-list-img{
	height: 100px;
	width: 100px;	
	display: block;
	text-align: right;
}

.block-list{
	list-style-type: none;	
	margin: 0;
	padding: 0;
	border-radius: 0 8px 8px 0;	
}

.block-list-item{
	margin-bottom: 10px	
}

.block-list-item:last-child{
	margin-bottom: 0px
}

.block-list-link{
	padding: 10px 24px 10px 10px;	
	display: block;		
	text-decoration: none;
	border-radius: 6px;	
}

.block-list-link{
	margin-bottom: 0px;
}

.block-list-subtext{
	font-size: .5rem;
	float: right;
}

.recent-posts{
	background-color: #2C3E50;	
}

.recent-posts:before{
content: "";
border-style: solid;
border-width: 12px 12px 12px 0;
border-color: transparent #2C3E50 transparent transparent;
height: 0px;
position: absolute;
left: -12px;
top: 35px;
width: 0;
-webkit-transform: rotate(360deg);
}

.recent-post-date{
	color: #7F8C8D;
	font-size: 10px;
	font-style: italic;
}

.recent-post-link{
color: #1abc9c;
}

.recent-post-link:hover{
	background-color: #1ABC9C;
	color: white;
}

.post-title{
	padding-right: 10px;	
}

.projects{
	background-color: #ecf0f1;
}

.projects:after{
content: "";
border-style: solid;
border-width: 12px 0px 12px 12px;
border-color: transparent transparent transparent #ecf0f1;
height: 0px;
position: absolute;
left: 100%;
top: 35px;
width: 0;
-webkit-transform: rotate(360deg);
}

.project-link{
	color: #e74c3c;
}

.project-link:hover{
	background-color: #e74c3c;	
	color: white;
}

.project-title{
	font-weight: bold;
	padding-right: 10px;
	font-style: italic;
}

.project-description{
	padding-right: 10px;
}

.footer{
	background-color:#f1c40f;

	}
}